/* colocamos imágenes en container */
.img-edit-product-container {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  padding: 1rem;
  align-items: center;
  padding-bottom: 0;
}

.img-edit-product-box {
  max-width: 70px;
  margin-right: 0.5rem;
}
.img-edit-product {
  width: 100%;
}
/* añadí un botón borrar en el form edit */
.delete-form {
  padding: 1rem;
  box-shadow: none !important;
  margin-top: 1rem;
}

button.button-delete {
  background-color: #ee3939 !important;
  width: 80% !important;
  text-align: center !important;
  margin: 0 auto !important;
  display: block !important;
  margin: 0 auto !important;
}


