/* ------------------------------ General Rules ---------------------------------- */

/* quitamos margen y padding y aplicamos box-sizing */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Open Sans", sans-serif;
}

/* quitamos por defecto todos los colores y líneas de los a */
a {
  text-decoration: none;
  color: inherit;
}
