/* ----------------------------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------------------------- */
/* --------------------------------------------  INFO -------------------------------------------- */
/* ----------------------------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------------------------- */

main.main-info {
  padding: 2rem 5%;
}
main.main-info section.info-view {
  margin: 1rem 0;
}
.info-view article.info-text {
  margin-bottom: 3rem;
}
.info-view article.info-text:last-child {
  margin-bottom: 1rem;
}
.info-view article.info-text h2 {
  margin-bottom: 1rem;
  color: #153351;
  font-size: 1.8rem;
}
.info-view article.info-text p {
  font-size: 1.2rem;
  line-height: 1.8rem;
  letter-spacing: 0.05rem;
}
