<footer>
  <section class="logo-footer">
    <a href="/">
      <img src="/images/LogoWhite.png" alt="Logo de Havenboards" />
    </a>
  </section>
  <section class="main-footer">
    <nav class="nav-footer">
      <ul class="footer-info">
        <li><h3>INFORMACIÓN</h3></li>
        <li><a href="/info">Términos y condiciones</a></li>
        <li><a href="/info">Sobre nosotros</a></li>
        <li><a href="/info">Preguntas frecuentes</a></li>
        <li><a href="/info">Nuestros locales</a></li>
        <li><a href="/info">Envíos y devoluciones</a></li>
      </ul>

      <section class="social-footer-desktop">
        <a href="#"
          ><img src="/images/icons/facebook.png" alt="facebook icon" />
        </a>
        <a href="#"
          ><img src="/images/icons/twitter.png" alt="twitter icon"
        /></a>
        <a href="#"
          ><img src="/images/icons/youtube.png" alt="youtube icon"
        /></a>
        <a href="#"
          ><img src="/images/icons/instagram.png" alt="instagram icon"
        /></a>
      </section>

      <ul class="footer-menu">
        <li><h3>HAVENBOARDS</h3></li>
        <li><a href="/products">Surf</a></li>
        <li><a href="/products">Skateboards</a></li>
        <li><a href="/products">Snowboards</a></li>
        <li><a href="/products">Wakeboards</a></li>
        <li><a href="/products">Sale</a></li>
      </ul>
    </nav>
  </section>
  <section class="social-footer">
    <a href="#"
      ><img src="/images/icons/facebook.png" alt="facebook icon" />
    </a>
    <a href="#"><img src="/images/icons/twitter.png" alt="twitter icon" /></a>
    <a href="#"><img src="/images/icons/youtube.png" alt="youtube icon" /></a>
    <a href="#"
      ><img src="/images/icons/instagram.png" alt="instagram icon"
    /></a>
  </section>
  <section class="subscribe-footer">
    <form action="/" method="POST">
      <label for="email"><p>SUSCRÍBETE</p></label>
      <input
        type="email"
        name="email"
        id="email"
        required
        placeholder="Ingresa tu email"
      />
      <button type="submit">Enviar</button>
    </form>
  </section>
  <section class="copyright">
    <p>Copyright &copy 2021 - Havenboards</p>
  </section>
</footer>
