<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- favicon -->
    <link rel="icon" href="/images/icons/favicon.ico" />
    <!-- font open sans -->
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap"
      rel="stylesheet"
    />
    <!-- font Montserrat -->
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap"
      rel="stylesheet"
    />
    <!-- font Heebo -->
    <link
      href="https://fonts.googleapis.com/css2?family=Heebo&display=swap"
      rel="stylesheet"
    />
    <!-- font big shoulders -->
    <link
      href="https://fonts.googleapis.com/css2?family=Big+Shoulders+Display&display=swap"
      rel="stylesheet"
    />

    <!-- stylesheets -->
    <!-- vienen desde public si ponemos / al ppo -->
    <link rel="stylesheet" href="/css/normalize.css" />
    <link rel="stylesheet" href="/css/styles.css" />

    <!-- si es la página profile... -->
    <% if(title == "Profile") { %>
    <link rel="stylesheet" href="/css/profile.css" />
    <% } %>
    <!-- si es la página delete user... -->
    <% if(title == "Delete user") { %>
    <link rel="stylesheet" href="/css/userDelete.css" />
    <% } %>
    <!-- si es la página 404... -->
    <% if(title == "Havenboards - Not found") { %>
    <link rel="stylesheet" href="/css/404.css" />
    <% } %>

    <script
      src="https://kit.fontawesome.com/a20967f511.js"
      crossorigin="anonymous"
    ></script>

    <title><%= title %></title>
  </head>
</html>
