<header>
  <div class="header-account">
    <ul>
      <li>
        <a href="#">NUESTRAS TIENDAS <i class="fas fa-map-marker-alt"></i></a>
      </li>

      <% if(locals.isLogged) { %>
        <li>
          <p class="hello-user">Hola, <%= locals.userLogged.firstName %></a>
        </li>
        
        <li>
          <a href="/users/profile">Profile</a>
        </li>
        <li>
          <a href="/users/logout">Log out <i class="fas fa-sign-in-alt"></i></a>
        </li>
      <% } else { %>
        <li>
          <a href="/users/login"
            >INICIAR SESIÓN <i class="fas fa-sign-in-alt"></i
          ></a>
        </li>
      <% } %>
    </ul>
  </div>
  <!-- navbar mobile -->
  <nav class="nav-list">
    <ul>
      <li>
        <a href="/products/snowboard">Snowboarding</a>
      </li>
      <li><a href="/products/skateboard">Skateboarding</a></li>
      <li><a href="/products/surf">Surf</a></li>
      <li><a href="/products/wakeboard">Wakeboarding</a></li>
      <li><a href="/products/accessory">Accesorios</a></li>
      <li class="no-border"><a href="/products/brands">Marcas</a></li>
      <li class="no-border">
        <div class="logo-list">
          <a href="#">
            <img src="/images/Logo.png " alt="Logo de Havenboards" />
          </a>
        </div>
        <ul>
    
          <% if(locals.isLogged) { %>
          <li>
            <p class="hello-user">Hola, <%= locals.userLogged.firstName %></a>
          </li>
           
          <li>
            <a href="/users/profile">Profile</a>
          </li>
          <li>
            <a href="/users/logout">Log out </a>
          </li>
          <% } else { %>
          <li class="nav-list-login">
            <a href="/users/login"
              >INICIAR SESIÓN </a>
          </li>
          <% } %>
        </ul>
      </li>
    </ul>
  </nav>
  <div class="top-header">
    <div class="logo">
      <a href="/">
        <img src="/images/Logo.png " alt="Logo de Havenboards" />
      </a>
    </div>
    <nav class="nav-desktop">
      <ul>
        <li>
          <a href="/products/snowboard">Snowboarding</a>
        </li>
        <li><a href="/products/skateboard">Skateboarding</a></li>
        <li><a href="/products/surf">Surf</a></li>
        <li><a href="/products/wakeboard">Wakeboarding</a></li>
        <li><a href="/products/accessory">Accesorios</a></li>
        <li><a href="/products/brands">Marcas</a></li>
      </ul>
    </nav>
    <form action="/products/search" method="GET" class="form-search none">
      <div class="input-search">
        <input
          type="text"
          name="search"
          id="search"
          placeholder="¿Qué estás buscando?"
        />
        <button type="submit"><i class="fa fa-search"></i></button>
      </div>
    </form>
    <div class="header-icons">
      <div class="header-icons-action">
        <a href="#" class="search-icon"><i class="fas fa-search"></i></a>
        <a href="#"><i class="far fa-heart"></i></a>
        <a href="/products/productCart"><i class="fas fa-shopping-cart"></i></a>
      </div>
      <div class="header-icon-menu">
        <!-- <a class="toggle-btn"><i class="fas fa-bars"></i></a> -->
        <div class="toggle-btn">
          <div class="btn-line"></div>
          <div class="btn-line"></div>
          <div class="btn-line"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="header-bottom">
    <nav>
      <ul>
        <li>
          <a href="/products/snowboard">
            <span>Snowboarding</span>
            <b></b>
          </a>
        </li>
        <li>
          <a href="/products/skateboard">
            <span>Skateboarding</span>
            <b></b>
          </a>
        </li>
        <li>
          <a href="/products/surf">
            <span> Surf</span>
            <b></b>
          </a>
        </li>
        <li>
          <a href="/products/wakeboard">
            <span>Wakeboarding</span>
            <b></b>
          </a>
        </li>
        <li>
          <a href="/products/accessory">
            <span>Accesorios</span>
            <b></b>
          </a>
        </li>
        <li>
          <a href="/products/brands">
            <span>Marcas</span>
            <b></b>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</header>

<script src="../../../js/nav-list.js"></script>
