<%- include('../partials/head', { title: "Havenboards - Not found" }) %>
<body>
  <%- include('../partials/header') %>
  <main class="info-404">
    <section class="not-found-container">
      <h2>Página no encontrada</h2>

      <h3>No se encontró lo que buscabas.</h3>
      <ul>
          <li>Si escribiste tu mismo la URL, asegúrate de que la misma sea correcta.</li>
          <li>Si hiciste click en un enlace, puede que esté desactualizado.</li>
      </ul>
    </section>

    <section class="next-step">
      <h3>¿Cómo continuamos?</h3>
      <p>Prueba con lo siguiente para encontrar lo que buscas.</p>
      <ul>
          <li>Regresa a la página anterior</li>
          <li>Utiliza la barra de búsqueda en la parte superior de la página.</li>
          <li>O, haga click en el siguiente enlace:</li>    
      </ul>
      <a href="/">Inicio</a>
    </section>
  </main>
</body>

<%- include('../partials/footer') %>
</html>
