<%- include('../partials/head') %>
<body>
  <%- include('../partials/header') %>
  <main class="main-info">
    <section class="info-view">
        <article class="info-text">
        <h2>Términos y condiciones</h2>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur
            eos possimus autem sapiente eveniet fuga culpa animi necessitatibus hic
            ut, quod voluptatem tempore modi aut labore voluptatum libero laudantium
            nostrum iusto! Magnam mollitia amet sunt excepturi alias neque repellat
            perferendis provident quae veritatis, cum quaerat commodi possimus
            impedit, nam dolorum?
        </p>
        </article>

        <article class="info-text">
        <h2>Sobre nosotros</h2>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur
            eos possimus autem sapiente eveniet fuga culpa animi necessitatibus hic
            ut, quod voluptatem tempore modi aut labore voluptatum libero laudantium
            nostrum iusto! Magnam mollitia amet sunt excepturi alias neque repellat
            perferendis provident quae veritatis, cum quaerat commodi possimus
            impedit, nam dolorum?
        </p>
        </article>

        <article class="info-text">
        <h2>Preguntas frecuentes</h2>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur
            eos possimus autem sapiente eveniet fuga culpa animi necessitatibus hic
            ut, quod voluptatem tempore modi aut labore voluptatum libero laudantium
            nostrum iusto! Magnam mollitia amet sunt excepturi alias neque repellat
            perferendis provident quae veritatis, cum quaerat commodi possimus
            impedit, nam dolorum?
        </p>
        </article>

        <article class="info-text">
        <h2>Nuestros locales</h2>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur
            eos possimus autem sapiente eveniet fuga culpa animi necessitatibus hic
            ut, quod voluptatem tempore modi aut labore voluptatum libero laudantium
            nostrum iusto! Magnam mollitia amet sunt excepturi alias neque repellat
            perferendis provident quae veritatis, cum quaerat commodi possimus
            impedit, nam dolorum?
        </p>
        </article>

        <article class="info-text">
        <h2>Envíos y devoluciones</h2>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur
            eos possimus autem sapiente eveniet fuga culpa animi necessitatibus hic
            ut, quod voluptatem tempore modi aut labore voluptatum libero laudantium
            nostrum iusto! Magnam mollitia amet sunt excepturi alias neque repellat
            perferendis provident quae veritatis, cum quaerat commodi possimus
            impedit, nam dolorum?
        </p>
        </article>
    </section>
  </main>
</body>

<%- include('../partials/footer') %>
</html>
