<%- include('../partials/head') %>
  <body>
  <%- include('../partials/header') %>

    <main>
      <div class="top-section">
        <section class="top-promotion">
          <article class="top-promotion-img">
            <img src="/images/panoramic/login4.jpg" alt="Foto para login" />
          </article>
        </section>
      </div>
      <div class="content content-register">
        <h1 class="logo">Crear Cuenta</h1>
        <div class="contact-wrapper">
          <div class="contact-form">
            <form action="/users" method="POST" enctype="multipart/form-data">
              <p>
                <label for="firstName">Nombre*</label>
                <input
                  type="text" 
                  name="firstName"
                  id="firstName"
                  required
                  pattern="([^\s][A-zÀ-ž\s]+)"
                  placeholder="Pablo"
                />
              </p>
              <p>
                <label for="lastName">Apellido*</label>
                <input
                  type="text" 
                  name="lastName"
                  id="lastName"
                  required
                  pattern="([^\s][A-zÀ-ž\s]+)"
                  placeholder="Sarrion"
                />
              </p>
              <p>
                <label for="email">E-mail*</label>
                <input
                  type="email"
                  name="email"
                  id="email"
                  placeholder="haven@havenboards.com.ar"
                  required
                  title="El campo debe tener un dato del tipo E-mail, por lo que debe contener el simbolo @"
                />
                <label class="infovalidacion"
                  >El campo debe tener formato de email</label
                >
              </p>
              <p>
                <label>Contraseña*</label>
                <input type="password" name="password" required />
              </p>
              <!-- <p>
                <label>Repetir Contraseña*</label>
                <input type="password" name="re-password" required="" />
                <label class="infovalidacion"
                  >Las Contraseñas deben coincidir</label
                >
              </p> -->
              <p>
                <label for="category">Categoría*</label>
                <select name="category" id="category" required>
                  <option disabled selected>Seleccionar Cateogría</option>
                  <option value="user">Usuario</option>
                  <option value="admin">Administrador</option>
                </select>
              </p>
              <p>
                <label for="image">Ingrese su imagen de Perfil</label>
                <input type="file" name="image" id="image" required>
              </p>
              <p class="block">
                <button type="submit">Crear Cuenta</button>
              </p>
            </form>
          </div>
        </div>
      </div>
    </main>

    <%- include('../partials/footer') %>
  </body>
</html>
